# Begin password protection #
AuthName "cbe admin"
Require valid-user
AuthUserFile "/home/users/web/b2287/sl.devinlab77/public_html/admin/.htpasswd"
AuthType basic
# End password protection #

